<div class="card mb-1 filter-wrap">
    <div class="card-body">
        <div class="row align-items-center">
            <div class="col-md-6">
                <div class="w-100">
                    <div class="input-group input-group-sm">
                        <input type="text" class="form-control" [(ngModel)]="filterText" #ctrl="ngModel"
                            (keyup)="applyFilter($event.target.value)" placeholder="Search" autocomplete="off">
                    </div>
                </div>
            </div>
            <div class="col-md-6">
                <ul class="list-unstyled d-flex m-0 justify-content-end action-main-links">
                    <li><a href="javascript:void(0);" (click)="getRules()"><i class="fas fa-sync-alt"></i> Refresh
                        </a></li>
                </ul>
            </div>
        </div>
    </div>
</div>

<div class="table-responsive" [hidden]="!dataSource?.data?.length">
    <table class="table table-bordered table-striped" mat-table [dataSource]="dataSource" matSort>

        <ng-container matColumnDef="id">
            <th mat-header-cell *matHeaderCellDef mat-sort-header>#</th>
            <td mat-cell *matCellDef="let element">{{element?.id}} </td>
        </ng-container>

        <ng-container matColumnDef="name">
            <th mat-header-cell *matHeaderCellDef mat-sort-header>Name</th>
            <td mat-cell *matCellDef="let element">{{element?.name}} </td>
        </ng-container>

        <ng-container matColumnDef="templateName">
            <th mat-header-cell *matHeaderCellDef mat-sort-header>Template Name</th>
            <td mat-cell *matCellDef="let element">{{element?.templatesDTO?.name}} </td>
        </ng-container>

        <ng-container matColumnDef="condition">
            <th mat-header-cell *matHeaderCellDef mat-sort-header>Conditions</th>
            <td mat-cell *matCellDef="let element">{{element?.conditions?.length}} </td>
        </ng-container>

        <ng-container matColumnDef="actions">
            <th mat-header-cell *matHeaderCellDef class="text-center">Actions </th>
            <td mat-cell *matCellDef="let element">
                <ul class="list-unstyled action-links">
                    <li title="Update">
                        <a href="javascript:void(0);" (click)="openDialog(updateRuleModal, element)">
                            <i class="fas fa-edit" style="font-size: 12px;"> </i>
                        </a>
                    </li>
                    <li title="Preview">
                        <a href="javascript:void(0);" (click)="openDialog(previewTemplate)">
                            <i class="fas fa-file-pdf" style="font-size: 12px;"> </i>
                        </a>
                    </li>
                    <li title="Delete">
                        <a href="javascript:void(0);" (click)="conditionId = element.id; openDialog(deleteRuleModel)">
                            <i class="fas fa-trash-alt" style="font-size: 12px;"> </i>
                        </a>
                    </li>
                </ul>
            </td>
        </ng-container>
        <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
        <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
    </table>
</div>

<div class="pagination-wrap" [hidden]="!dataSource?.data?.length">
    <div class="row">
        <div class="col-md-4">
            <div class="page-count">
                <label>Page Count</label>
                <div class="drop-count">
                    <select class="form-control form-control-sm" name="pageSize" [(ngModel)]="pageSize"
                        (ngModelChange)="pageSizeChange()">
                        <option *ngFor="let item of pageSizeOptions" [value]="item">
                            {{ item }}
                        </option>
                    </select>
                </div>
            </div>
        </div>
        <div class="col-md-4 text-center">
            <p class="mt-1 mb-0">{{pageIndex * pageSize + 1}} -
                {{pageIndex == possibleIndex ? totalDataLength : currentDataLength}} of {{totalDataLength}}
            </p>
        </div>
        <div class="col-md-4">
            <div class="pagination-digit float-right">
                <nav aria-label="Page navigation example">
                    <ul class="pagination pagination-sm m-1">
                        <li class="page-item">
                            <a class="page-link" href="javascript:void(0);" [ngClass]="{'disabled' : pageIndex == 0}"
                                (click)="loadPreviousPage()" aria-label="Previous">
                                <i class='fas fa-chevron-left'></i>
                            </a>
                        </li>
                        <li class="page-item">
                            <a class="page-link" href="javascript:void(0);"
                                [ngClass]="{'disabled' : (totalDataLength == currentDataLength) || (pageIndex == possibleIndex)}"
                                aria-label="Next" (click)="loadNextPage()">
                                <i class='fas fa-chevron-right'></i>
                            </a>
                        </li>
                    </ul>
                </nav>
            </div>
        </div>
    </div>
</div>

<div class="no-data text-center" [hidden]="dataSource?.data?.length">
    <img src="assets/images/awhiz/robot-find.svg" />
    <h6>No Data Available</h6>
    <button class="btn btn-primary btn-sm" (click)="goBack()">
        <i class="fas fa-arrow-left"></i> Go
        Back</button>
</div>

<ng-template #deleteRuleModel>
    <div class="aw-common-modal">
        <div class="modal-dialog m-auto">
            <div class="modal-content border-0">
                <div class="modal-header">
                    <h5 class="mb-0"><i class="fas fa-trash-alt"></i> Delete Rule</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close" matDialogClose>
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body">
                    <div>
                        Are you sure you want to delete this Rule ?
                    </div>
                </div>
                <div class="modal-footer justify-content-end">
                    <button type="button" (click)="deleteRule()" class="btn btn-primary btn-sm">Delete</button>
                    <button type="button" class="btn btn-secondary btn-sm" matDialogClose>Cancel</button>
                </div>
            </div>
        </div>
    </div>
</ng-template>

<ng-template #updateRuleModal>
    <div class="aw-common-modal">
        <div class="modal-dialog modal-min m-auto">
            <div class="modal-content border-0">
                <div class="modal-header">
                    <h5 class="mb-0"><i class="fas fa-edit"></i> Update Rule</h5>
                    <button type="button" class="close" (click)="ruleForm.reset()" data-dismiss="modal"
                        aria-label="Close" matDialogClose>
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body">
                    <div>
                        <form [formGroup]="ruleForm" class="form ng-pristine ng-invalid ng-touched" novalidate>
                            <div class="row">
                                <div class="col-md-12">
                                    <div class="form-group">
                                        <label>Name <span class="required-field">*</span></label>
                                        <input type="text" class="form-control ng-pristine ng-invalid ng-touched"
                                            placeholder="ex. Rule 1" formControlName="name">
                                        <div class="error-show" *ngIf="ruleForm.controls.name.errors 
                                    && (ruleForm.controls.name.dirty || ruleForm.controls.name.touched)">
                                            <span *ngIf="ruleForm.controls.name.errors.required">rule name
                                                is required</span>
                                        </div>
                                    </div>
                                </div>
                            </div>

                            <div class="row">
                                <div class="col-md-12">
                                    <div class="form-group">
                                        <label>Select Parameter <span class="required-field">*</span></label>
                                        <mat-select class="form-control" disableOptionCentering
                                            formControlName="conditions" panelClass="filter-dropdown-multi"
                                            placeholder="Select Parameter" multiple>
                                            <mat-option *ngFor="let item of allConditions" [value]="item">
                                                {{ item.name }}
                                            </mat-option>
                                        </mat-select>
                                        <div class="error-show"
                                            *ngIf="ruleForm.controls.conditions.errors 
                                        && (ruleForm.controls.conditions.dirty || ruleForm.controls.conditions.touched)">
                                            <span *ngIf="ruleForm.controls.conditions.errors.required">selection
                                                of
                                                conditions is required</span>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </form>
                    </div>
                </div>
                <div class="modal-footer justify-content-end">
                    <button type="button" (click)="updateRule()" class="btn btn-primary btn-sm">Submit</button>
                    <button type="button" class="btn btn-secondary btn-sm" (click)="ruleForm.reset()"
                        matDialogClose>Cancel</button>
                </div>
            </div>
        </div>
    </div>
</ng-template>


<ng-template #previewTemplate>
    <div class="aw-common-modal">
        <div class="modal-dialog modal-xl m-auto">
            <div class="modal-content border-0">
                <div class="modal-header">
                    <h5 class="mb-0"><i class="fas fa-edit"></i> Template</h5>
                    <button type="button" class="close" (click)="ruleForm.reset()" data-dismiss="modal"
                        aria-label="Close" matDialogClose>
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body modal-scroll">

                    <div class="table-responsive invoice-table">
                        <table class="table table-borderless">
                            <tr>
                                <td>
                                    <table class="w-100">
                                        <tr>
                                            <td class="p-2">
                                                <b>Hexaware Entity Name</b> <br>
                                                Unit Name, Address 1, Address 2 <br>
                                                Address 3, Address 4 <br>
                                                Phone
                                            </td>
                                            <td class="text-right p-2">
                                                <a href="#"><img src="../../../../../../assets/images/Capture.JPG" alt="Capture"></a>
                                            </td>
                                        </tr>
                                    </table>
                                </td>
                            </tr>
                            <tr>
                                <td class="text-center tax-invoice-heading"><b>TAX INVOICE</b></td>
                            </tr>
                            <tr>
                                <td>
                                    <table class="w-100">
                                        <tr>
                                            <td class="p-2">
                                                <b>Bill To <br> Client Name</b> <br>
                                                Address 1 <br>
                                                Address 2 <br>
                                                Location & Pin <br>
                                                Country <br>
                                                Kind Attn.: -- <br>
                                                Phone No. : -- <br>
                                                Tax Registration No <br>
                                                Payer Information <br>
                                            </td>
                                            <td class="p-2">
                                                <b>Ship To <br> Client Name</b> <br>
                                                <br>
                                                Address 1 <br>
                                                Address 2 <br>
                                                Location & Pin <br>
                                                Country <br>
                                                Country of Origin: <br>
                                                Country of Destination:  <br>
                                                Place of Supply: <br>
                                            </td>
                                            <td class="p-2" width="100">
                                                <b>QR Code</b> <br>
                                            </td>
                                            <td class="p-2">
                                                <div class="text-center">ORIGINAL FOR RECIPIENT</div>
                                                Invoice No. <br>
                                                Invoice Date (mm-dd-yyyy) <br>
                                                Payment Terms <br>
                                                Due Date (mm-dd-yyyy) <br>
                                                P.O. Ref <br>
                                                SOW Ref <br>
                                                <b>Supplier Code</b> <br>
                                                <b>IRN No</b>
                                            </td>
                                            
                                        </tr>   
                                    </table>     
                                </td>
                            </tr>
                            <tr>
                                <td>
                                    <table class="w-100">
                                        <tr class="tax-invoice-heading">
                                            <td class="pl-2"><b>Description</b></td>
                                            <td class="text-center border-left-solid"><b>QTY <br> (UOM)</b></td>
                                            <td class="text-center border-left-solid"><b>Rate</b></td>
                                            <td class="text-center border-left-solid"><b>Amount <br> (Currency)</b></td>
                                        </tr>
                                        <tr>
                                            <td class="pl-2">Service Description</td>
                                            <td class="border-left-solid"></td>
                                            <td class="border-left-solid"></td>
                                            <td class="border-left-solid"></td>
                                        </tr>
                                        <tr>
                                            <td class="pl-2">Header Note 1: SOW Description</td>
                                            <td class="border-left-solid"></td>
                                            <td class="border-left-solid"></td>
                                            <td class="border-left-solid"></td>
                                        </tr>
                                        <tr>
                                            <td class="pl-2">Header Note :2</td>
                                            <td class="border-left-solid"></td>
                                            <td class="border-left-solid"></td>
                                            <td class="border-left-solid"></td>
                                        </tr>
                                        <tr>
                                            <td class="pl-2">Header Note 3</td>
                                            <td class="border-left-solid"></td>
                                            <td class="border-left-solid"></td>
                                            <td class="border-left-solid"></td>
                                        </tr>
                                        <tr>
                                            <td></td>
                                            <td class="border-left-solid"></td>
                                            <td class="border-left-solid"></td>
                                            <td class="border-left-solid"></td>
                                        </tr>
                                        <tr>
                                            <td class="pl-2">Line Item 1</td>
                                            <td class="border-left-solid"></td>
                                            <td class="border-left-solid"></td>
                                            <td class="border-left-solid"></td>
                                        </tr>
                                        <tr>
                                            <td class="pl-2">Line Item 2</td>
                                            <td class="border-left-solid"></td>
                                            <td class="border-left-solid"></td>
                                            <td class="border-left-solid"></td>
                                        </tr>
                                        <tr>
                                            <td class="pl-2">Line Item 3</td>
                                            <td class="border-left-solid"></td>
                                            <td class="border-left-solid"></td>
                                            <td class="border-left-solid"></td>
                                        </tr>
                                        <tr>
                                            <td class="pl-2">Line Item 4</td>
                                            <td class="border-left-solid"></td>
                                            <td class="border-left-solid"></td>
                                            <td class="border-left-solid"></td>
                                        </tr>
                                        <tr>
                                            <td class="pl-2">Line Item 5</td>
                                            <td class="border-left-solid"></td>
                                            <td class="border-left-solid"></td>
                                            <td class="border-left-solid"></td>
                                        </tr>
                                        <tr>
                                            <td class="pl-2">Line Item 6</td>
                                            <td class="border-left-solid"></td>
                                            <td class="border-left-solid"></td>
                                            <td class="border-left-solid"></td>
                                        </tr>
                                        <tr>
                                            <td class="pl-2">Line Item 7</td>
                                            <td class="border-left-solid"></td>
                                            <td class="border-left-solid"></td>
                                            <td class="border-left-solid"></td>
                                        </tr>
                                        <tr>
                                            <td class="pl-2">Line Item 8</td>
                                            <td class="border-left-solid"></td>
                                            <td class="border-left-solid"></td>
                                            <td class="border-left-solid"></td>
                                        </tr>
                                        <tr>
                                            <td class="pl-2">Line Item 9</td>
                                            <td class="border-left-solid"></td>
                                            <td class="border-left-solid"></td>
                                            <td class="border-left-solid"></td>
                                        </tr>
                                        <tr>
                                            <td class="pl-2">Line Item 10</td>
                                            <td class="border-left-solid"></td>
                                            <td class="border-left-solid"></td>
                                            <td class="border-left-solid"></td>
                                        </tr>
                                        <tr>
                                            <td class="pl-2">Line Item 11</td>
                                            <td class="border-left-solid"></td>
                                            <td class="border-left-solid"></td>
                                            <td class="border-left-solid"></td>
                                        </tr>
                                        <tr>
                                            <td class="pl-2">Line Item 12</td>
                                            <td class="border-left-solid"></td>
                                            <td class="border-left-solid"></td>
                                            <td class="border-left-solid"></td>
                                        </tr>
                                        <tr>
                                            <td colspan="3" class="pl-2 border-top-solid"><b>Gross Taxable Value</b></td>
                                            <td class="border-left-solid border-top-solid"></td>
                                        </tr>
                                        <!-- <tr>
                                            <td colspan="3" class="pl-2 border-top-solid">

                                            </td>
                                            <td class="border-left-solid tax-invoice-heading"></td>
                                        </tr> -->
                                    </table>    
                                </td>
                            </tr>
                        </table>
                    </div>

                </div>
                <div class="modal-footer justify-content-end">
                    <button type="button" class="btn btn-primary btn-sm"> Export</button>
                    <button type="button" class="btn btn-secondary btn-sm" (click)="ruleForm.reset()"
                        matDialogClose>Cancel</button>
                </div>
            </div>
        </div>
    </div>
</ng-template>